<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933242046796-kb3q87b3r1498f5tsgt2ml34uphpmga8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933242046796-kb3q87b3r1498f5tsgt2ml34uphpmga8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0YCOeklQDIuZJ2wXHad8MOtcVAHytV-w</string>
	<key>GCM_SENDER_ID</key>
	<string>933242046796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hideokawahara.kurukuru</string>
	<key>PROJECT_ID</key>
	<string>kurukuru-46366</string>
	<key>STORAGE_BUCKET</key>
	<string>kurukuru-46366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933242046796:ios:ebfffba97499c87e2767e9</string>
</dict>
</plist>